///Font
$fontFamily: 'Lucida Sans', Helvetica, Arial; //what fonts do we ultimately want to use across the application? 

/// Define colors here
$black: #000;
$white: #fff;
$light_grey: #d3d3d3;
$dark_grey: #4d4d4d;
$strain_seekr_blue: #26ace2;